html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    line-height: 1.8;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    display: block;
}
